#copyText{
  margin:5px 0;
  font-size:16px;
  float:left;
  width:200px;
}
#notice{
  margin:5px auto;
  float:left;
}
.clearElement{
  clear:both;
}
.btn{
  width: 100%;
  font-size:18px;
  color: white;
  margin:5px 0; 
  border:0px solid;
  padding:2px 0;
}
.btn:hover{
  transition:0.5s;
  cursor:pointer;
  opacity:1.0;
}
.btn-tw {
  background-color: #00aced;
  opacity:0.8;
}
.btn-fb {
  background-color: #385998;
  opacity:0.8;
}
