#textbox{
  position:relative;
  min-height:120px;
}
#input{
  background:transparent;
  width:300px;
  height:100px;
  z-index:1;
  top:0px;
  left:0px;
  padding:2px;
  word-break: break-all;
}
#behindInput{
  color:transparent;
  background-color:white;
  z-index:0;
  width:300px;
  height:100px;
  top:0px;
  left:0px;
  padding:2px;
  overflow:auto;
  word-break: break-all;
}
#behindInput span b{
  background: #d8dfea;
  background: linear-gradient(#dce6fb, #bdcff1);
  border:0px;
  padding:0px;
  margin:0px;
  font-weight: normal;
  word-break: break-all;
}
.highlighter{
  border: 1px solid #999;
  position:absolute;
  display:block;
  font-size   : 16px;
  font-weight: normal;
}
