#input{
  background-color:white;
  border: 1px solid #999;
  width:300px;
  height:100px;
  font-family : "MS PGothic";
  font-size   : 16px;
}
body{
  background-color: yellow;
}
#testheader{
  font-family : "MS PGothic";
  font-size   : 32px;
}
